<div><%= button_to "Sign out", destroy_user_session_path, method: :delete %><div>
<div class="container">
  <h1 class="heading">RailsBlog</h1>
  <% @users.each do |user| %>
    <%= render partial: "users/user", locals: { user: user } %>
  <% end %>
</div>
